/* font */
* { 
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}


/* common */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#sound_btn #play-pause{
  position: absolute;
  z-index: 10;
  left: 0; bottom: 0;
  cursor: pointer;
  width: 63px; height: 63px;
  background-image: url(/images/s_mute.png);
  background-position: center;
  background-repeat: no-repeat!important;
  margin-bottom: 2.5%;
  margin-left: 3%;
}

.play {
  z-index: 12;
  background-image: url(/images/s_mute.png);
}

.pause {
  z-index: 12;
  background-image: url(/images/s_play.png)!important;
}

body {
  background: #000;
  perspective: 340px;
  padding: 0;
  text-align: center;
  word-break: keep-all;
  cursor: default;
  width: 100vw;
  position: relative;
}

a {
  text-decoration-line: none;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.title {
 position: relative;
}

.about li {
  font-family: swear-display-cilati, serif;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
  list-style: none;
  text-decoration:none;
}

.about li{
  position: absolute;
  text-align: right;
  right: 0px;
  top: 0px;
}

.description_popup {
  font-size: 1.1rem;
  position: absolute;
  z-index: 10;
  top: 0px; right: 0px; 
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-sizing: border-box;
  opacity: 0;
}

.description_popup:target {
  opacity: 1;
}

.popup_header {
  padding-top: 15px;
  padding-bottom: 10px;
  color: #000;
  background: linear-gradient(70deg, #f940f3, #67f65d, #3df3f4);
  border-radius: 10px 10px 0px 0px;
}

.popup_header span {
  font-family: swear-display, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.1em;
}

.popup_close_btn {
  display: block;
  overflow: hidden;
  position: absolute;
  z-index: 3;
  top: 19px;
  right: 20px;
  width: 15px;
  height: 15px;
  background: #ff3000;
  border-radius: 50%;
  cursor: pointer;
}

.popup_close_btn img {
  opacity: 0;
  padding-bottom: 3px;
}

.popup_close_btn img:hover {
  opacity: 1;
  mix-blend-mode: lighten;
}

.popup_wrap {
  overflow-y: auto;
  height: 727px;
}
.popup_wrap::-webkit-scrollbar{
  display:none;
}

.popup_img {
  width: 100%;
  height: 320px;
}

.popup_title {
  padding-top: 30px;
}

.popup_text {
  text-align: left;
  color: #000;
  padding: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.popup_text p {
  margin: 0;
  line-height: 180%;
}

.popup_text span {
  color: #535353;
  line-height:180%;
}

.morphing {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: -1;
  mix-blend-mode: lighten;
  width: 100vw;
}

.desires_tab {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  z-index: 2;
  margin: auto;
  text-align: center;
  right: 0; left: 0; top: 0; bottom: 0;
}

.tab2, .tab3, .tab4 {
  position: absolute;
  z-index: -1;
}


/* background(unconscious) style from codepen.io
Copyright (c) 2021 by Keith Clark (https://codepen.io/keithclark/pen/ibEnk)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.unconscious {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  box-shadow: -780px 57px #d4d4d4, 1136px -134px #dbdbdb, -139px -464px #c7c7c7, -632px -203px #c7c7c7, 1158px -58px #ededed, -1221px -324px #dbdbdb, -313px 7px #cccccc, -703px -175px #c7c7c7, -97px 53px #e3e3e3, -1365px 431px #c7c7c7, -866px 58px #e3e3e3, 1250px 371px #d6d6d6, -1394px 454px #cccccc, 311px 455px #cccccc, 966px -445px #e8e8e8, -505px 299px #c4c4c4, 1326px 100px #f7f7f7, -676px 30px #dbdbdb, 23px 294px #e0e0e0, 1379px -465px #d4d4d4, 865px -317px #e8e8e8, 1317px 280px #d1d1d1, 1353px 69px #ebebeb, -745px 248px #c2c2c2, 64px -190px white, 886px -247px #e3e3e3, -325px -177px whitesmoke, -116px -128px #c4c4c4, 582px 54px #fafafa, 59px 153px #d9d9d9, 414px -240px #dbdbdb, -925px 306px #c4c4c4, -1285px -439px #e8e8e8, -437px -78px #f7f7f7, 252px 14px #cfcfcf, 1242px 382px #ebebeb, 845px -394px #ebebeb, -1318px -394px #dedede, -989px 151px #cccccc, 393px -36px #f2f2f2, 1118px -74px #d4d4d4, 1039px -316px #ededed, 19px -243px white, 438px 135px #f7f7f7, 412px -121px white, -490px -455px whitesmoke, -1232px 309px #f7f7f7, 1182px -328px #ebebeb, 1089px 66px #cccccc, -1340px -399px #e0e0e0, 1119px 12px #e3e3e3, 654px 157px #d9d9d9, 206px -142px #e0e0e0, -962px 41px #fafafa, -132px -257px #d9d9d9, 788px -201px #cfcfcf, -59px 240px #fafafa, -1255px 459px #d1d1d1, 1354px -454px #fafafa, 767px -77px #d4d4d4, -211px -100px #d9d9d9, -1180px -176px #c9c9c9, 1153px 328px #cfcfcf, 810px -134px #c7c7c7, 1259px 69px #f2f2f2, -328px -466px #e3e3e3, 440px 449px #f2f2f2, -1286px 223px #f2f2f2, -918px -247px #f7f7f7, -1152px 359px #e8e8e8, -1450px 93px #d9d9d9, 1122px 296px #f0f0f0, 400px -178px #c7c7c7, 96px -384px #dbdbdb, -610px -131px #ededed, 1391px 232px #c7c7c7, 769px -155px #e8e8e8, 1144px -270px #e6e6e6, -533px 335px #ededed, -291px 152px #d6d6d6, 474px 125px #c2c2c2, -659px 252px #d9d9d9, 933px -371px #f2f2f2, -1495px -114px #cccccc, 1120px 87px #e6e6e6, -983px -200px #f0f0f0, 1323px -58px #dbdbdb, -913px 204px #e0e0e0, -763px 391px #c7c7c7, 1438px 125px whitesmoke, 920px 334px #cccccc, 602px 169px #fafafa, -782px 287px #dedede, -1145px 337px white, 1347px 251px #d6d6d6, 167px -449px #d6d6d6, -725px 246px #e6e6e6, -1237px -109px #e0e0e0, 356px 16px #ebebeb, -642px 244px #dbdbdb, -873px -187px #f2f2f2, 73px 66px #f7f7f7, -1363px -249px #d9d9d9, -829px 316px #cccccc, 1106px -41px #c2c2c2, 772px 300px #d9d9d9, 435px -475px #dedede, -396px 453px #f0f0f0, 1430px 371px #f0f0f0, -1119px -348px #cfcfcf, -1347px 241px #ebebeb, -606px 8px #fafafa, 116px -464px #d1d1d1, -965px 243px #e0e0e0, 567px 296px #cfcfcf, 1106px -394px #dbdbdb, -852px 100px #e6e6e6, -278px -13px #d1d1d1, -883px -337px #cfcfcf, 686px 9px #cfcfcf, 940px 37px #c4c4c4, 1038px -148px white, -485px -311px #f7f7f7, -1440px -253px #f7f7f7, 1088px 2px #e0e0e0, -328px 348px #e8e8e8, -783px 207px #dedede, -760px -238px #c9c9c9, -1411px -215px whitesmoke, -1239px -158px #e8e8e8, 288px 246px #d1d1d1, -295px 286px #ebebeb, -158px 285px #d4d4d4, -177px 455px #d4d4d4, 820px -257px #ededed, -1307px 283px #d4d4d4, -121px -275px #fafafa, 711px 247px #f7f7f7, 343px -355px #fafafa, -175px -317px #c4c4c4, 1494px 281px #e3e3e3, -1209px 238px #cccccc, 31px 201px #c2c2c2, -218px -100px #ebebeb, -74px 189px #e6e6e6, 1249px 451px #cccccc, 748px -366px #d4d4d4, -1295px -136px #d1d1d1, -973px 236px #fafafa, -777px -1px #e6e6e6, -7px 95px #cfcfcf, 1043px -192px #c9c9c9, -245px 168px #e8e8e8, 651px 460px #f7f7f7, 277px 65px #f0f0f0, 1034px -402px #e8e8e8, 675px -429px #e6e6e6, -216px -18px #e3e3e3, 1290px 42px #cccccc, 1164px 48px #d4d4d4, -85px 9px #fcfcfc, -1063px 192px #c7c7c7, 158px -103px #c9c9c9, 935px -254px whitesmoke, -497px 80px #f2f2f2, 146px 384px #dbdbdb, -764px 410px whitesmoke, -17px 368px #c4c4c4, 514px 19px #e0e0e0, -757px -190px #c4c4c4, -631px 456px #dedede, 144px -31px #e6e6e6, -1353px -153px #e6e6e6, -1444px 50px #c2c2c2, -1438px 404px #e0e0e0, -1060px 146px #d6d6d6, 1455px -421px #d6d6d6, -84px -318px #dbdbdb, 251px -354px #d6d6d6, 536px -240px #f2f2f2, 949px 321px #e6e6e6, -1086px -333px #fafafa, -365px 71px whitesmoke, -538px -188px #c7c7c7, 425px -217px #e6e6e6, -901px -327px #e6e6e6, -716px -304px #d4d4d4, 647px -339px #fafafa, -154px -4px #f2f2f2, 227px -73px #d9d9d9, 1352px -338px #e3e3e3, -1379px -162px #dbdbdb, 693px 363px #c2c2c2, 116px -414px #f7f7f7, 503px -405px #d4d4d4, 629px -165px #f0f0f0, 1102px 122px #ebebeb, -1483px -290px #cccccc, -827px 359px #dedede, 1256px 389px #fcfcfc, 1101px 11px #cccccc, -1128px 422px white, -636px 398px #dedede, -343px -270px #fcfcfc, -841px -345px #d6d6d6, -855px -255px #f7f7f7, -848px -335px whitesmoke, -1098px -253px #e0e0e0, -1172px 124px #f7f7f7, -1068px -400px #d9d9d9, -919px -317px #d9d9d9, -1029px 245px #d9d9d9, -840px -475px #cccccc, -961px -465px #dbdbdb, 1477px -89px #f7f7f7, 88px -402px #c9c9c9, 162px 479px #fafafa, 792px 370px #d1d1d1, 428px 11px #d4d4d4, 1074px -80px whitesmoke, 1496px -429px #d1d1d1, 869px -438px #e6e6e6, -187px -77px #c9c9c9, -1353px -238px #f7f7f7, -878px 66px #c7c7c7, -1015px -153px #c4c4c4, 153px -454px #c2c2c2, 497px 391px #d4d4d4, -817px -380px #c7c7c7, 1278px -20px #fafafa, -1288px 53px #fcfcfc, 949px -40px #cfcfcf, -851px 276px #cfcfcf, -1141px 225px white, -699px -399px #dbdbdb, 626px 448px #c7c7c7, 242px 150px #ededed, -480px 241px #f0f0f0, 1138px 38px #fafafa, -1334px 299px #f2f2f2, -850px 143px #c7c7c7, -1225px -266px #f0f0f0, 1045px -200px #fcfcfc, -164px -263px #ebebeb, 248px 382px #d1d1d1, -678px 59px #fcfcfc, 1339px -143px #c7c7c7, 269px -375px #d9d9d9, -36px -471px #e6e6e6, 96px 254px #cfcfcf, 1420px -11px #dbdbdb, 1260px 217px #d1d1d1, -1232px 369px #d1d1d1, 840px -446px #d4d4d4, 778px 216px #ededed, -1051px -318px #f0f0f0, -112px -34px #e8e8e8, 836px -460px #e8e8e8, -324px -260px #f2f2f2, -359px -376px #f2f2f2, -1387px -112px #ededed, -1346px -414px #f0f0f0, 1233px 41px white, -806px 54px #c7c7c7, -1133px 402px #d6d6d6, 130px -166px #c9c9c9, -99px -384px #dedede, -1496px 117px #c7c7c7, -1473px -9px #e6e6e6, -1328px 86px #c4c4c4, -974px -448px #fcfcfc, -387px -41px #f7f7f7, -343px -165px #c2c2c2, -812px -386px #dedede, 914px -342px #e8e8e8, -143px -349px #e6e6e6, 1118px 255px #f7f7f7, -369px 261px #ededed, -974px -383px #dbdbdb, -521px -377px #cccccc, 436px 224px #f7f7f7, 693px 397px #d6d6d6, -1474px -63px #e6e6e6, 372px 278px #c7c7c7, -1129px -463px #d1d1d1, -824px -44px #c4c4c4, -1186px -467px #c9c9c9, 1058px -65px #d1d1d1, 526px 287px #e6e6e6, -211px 57px #d9d9d9, -909px 294px #fafafa, 1172px -298px #e0e0e0, -1449px 17px #fcfcfc, -930px -443px #fafafa, 471px -404px #dedede, 1061px 30px #dedede, -301px 201px #ebebeb, -1231px 50px #d9d9d9, -1453px -279px #e8e8e8, 1319px 104px #c9c9c9, 847px -147px #f2f2f2, 678px 214px #c9c9c9, -737px 335px #cfcfcf, -1138px -369px #cccccc, -232px 224px #c4c4c4, -146px -332px #c4c4c4, 871px 92px #ebebeb, -732px 436px white, 659px -134px #c4c4c4, -474px -5px #d9d9d9, 1078px -401px whitesmoke, 42px -311px #f0f0f0, 1475px 128px #ededed, -575px -243px #d9d9d9, 957px 180px #f2f2f2, 1176px -91px #f7f7f7, 1371px -252px #c4c4c4, -425px -133px #ebebeb, -935px -285px #dbdbdb, 800px -349px #e3e3e3, -787px 212px #ededed, -1350px -440px #dbdbdb, -644px 311px #dbdbdb, 271px -68px #e8e8e8, -639px 224px #d4d4d4, -917px -410px whitesmoke, 1230px -405px #f7f7f7, 125px 182px #fcfcfc, 1313px 334px #f2f2f2, -1415px -450px #e6e6e6, -1026px 287px #c2c2c2, -1186px 241px #dbdbdb, -896px -80px #c9c9c9, 281px 436px #d4d4d4, -729px -378px #f7f7f7, -1221px -243px #e3e3e3, 254px -316px #cccccc, -414px 328px #ededed, -1478px 460px #d1d1d1, 551px -301px #e8e8e8, 1259px -124px whitesmoke, 618px -4px #e8e8e8, 529px 88px #e6e6e6, 633px 458px #d1d1d1, -1051px 282px white, 1207px 274px #e8e8e8, -311px -475px #dbdbdb, 220px 138px #dedede, 106px -211px #f0f0f0, 669px -6px #fcfcfc, 7px -479px #dbdbdb;
  animation: fly 3s linear infinite;
  transform-style: preserve-3d;
}
.unconscious:before, .unconscious:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  box-shadow: inherit;
}
.unconscious:before {
  transform: translateZ(-300px);
  animation: fade1 3s linear infinite;
}
.unconscious:after {
  transform: translateZ(-600px);
  animation: fade2 3s linear infinite;
}


@keyframes fly {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ(300px);
  }
}
@keyframes fade1 {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }
}



/* PC (데스크탑) */
@media screen and (min-width:1025px) {

  .mobile {
    display: none;
  }

  .title {
    margin-top: 1.2%; margin-left: 2.5%;
  }

  .title-transition {
    width:149px; height:90px;
    background-image: url(/images/logo_inside_1.png);
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .4s ease-in-out;
  }

  @keyframes title-change {
    0% {
      background-image: url(/images/logo_inside_1.png);
    }
    35% {
      background-image: url(/images/logo_inside_2.png);
    }
    75%{
      background-image: url(/images/logo_inside_3.png);
    }
    100%{
      background-image: url(/images/logo_inside_1.png);
    }
  }

  .title-transition:hover {
    opacity: 1;
    animation: title-change 5s infinite;
    animation-direction: alternates;
  }

  .about, .lenses {
    font-size: 2.9rem;
  }

  .about li{
    margin-top: 2%;
    margin-right: 3%;
    opacity: 50%;
    transition: all .3s ease-in-out;
  }

  .about li:hover {
    opacity: 100%;
    transition: all .3s ease-in-out;
  }

  .description_popup {
    margin-top: 6%;
    margin-right: 3%;
    width: 500px;
    height: 800px;
    opacity: 0;
  }

  .popup_img {
    height: 320px;
  }

  .morphing {
    margin-top: 6%;
  }

  .desires_tab {
    width: 1400px;
    height: 350px;
  }

  .d_tab1 {
    width: 347px;
    height: 348px;
    filter: blur(4px);
    opacity: 40%;
  }

  .d_tab1:hover{
    transition-property:all;
    transition-duration: .6s;
    filter: blur(0px);
    animation: rotate_image 5s linear infinite;
    transform-origin: 50% 50%;
    opacity: 100%;
  }

  @keyframes rotate_image {
    100% {
      transform: rotate(360deg);
    }
  }

  .tab1 {
    margin-top: 30px;
  }

  .tab2, .tab3, .tab4 {
    left: 4px;
    top: 0px;
  }

}


/* 테블릿 */
@media screen and (min-width:769px) and (max-width:1024px) {

  .mobile {
    display: none;
  }

  .title {
    width: 350px;
    font-size: 3rem;
    margin-top: 5%;
    margin-left: 6%;
  }

  .about {
    font-size: 2.9rem;
  }

  .about li{
    margin-top: 6.5%;
    margin-right: 6%;
  }

  .description_popup {
    bottom: 0px; left: 0px;
    margin-left: 50%;
    margin-top: 65%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 800px;
  }

  .popup_img {
    height: 300px;
  }

  .morphing {
    height: 621.7px;
    top: 0px; bottom: 0px;
    margin: auto;
  }

  .morphing img {
    width: 100vw;
  }

  .desires_tab {
    flex-direction: column;
    width: 250px;
    height: 900px;
  }

  .d_tab1 {
    width: 220px;
    height: 348px;
  }

  .tab2, .tab3, .tab4 {
    width: 250px;
    left: 0px;
  }

  .tab1 {
    width: 220px;
    margin-top: 30px;
  }

  .tab2 {
    top: 15px;
  }

  .tab3 {
    top: 315px;
  }

  .tab4 {
    top: 610px;
  }
}


/* 모바일 가로, 패드*/
@media screen and (min-width:480px) and (max-width:768px) {

  .mobile {
    display: none;
  }

  .title {
    width: 350px;
    font-size: 2.4rem;
    margin-top: 5%;
    margin-left: 6%;
  }
  
  .about {
    font-size: 2.9rem;
  }

  .about li{
    margin-top: 7%;
    margin-right: 6%;
  }
  
  .description_popup {
    font-size: 0.9rem;
    bottom: 0px; left: 0px;
    margin: auto;
    width: 400px;
    height: 700px;
  }

  .popup_wrap {
    height: 627px;
  }

  .popup_img {
    width: 400px;
    height: auto;
  }

  .popup_img img {
    width: 400px;
    height: auto;
  }

  .morphing {
    height: 621.7px;
    top: 0px; bottom: 0px;
    margin: auto;
  }

  .morphing img {
    width: 100vw;
  }

  .desires_tab {
    flex-direction: column;
    width: 210px;
    height: 640px;
  }

  .tab1, .tab2, .tab3, .tab4 {
    height: auto;
  }

  .tab2, .tab3, .tab4 {
    width: 180px;
    left: 15px;
  }

  .tab1 {
    width: 150px;
  }

  .tab2 {
    top: 28px;
  }

  .tab3 {
    top: 226px;
  }

  .tab4 {
    top: 424px;
  }

}


/* 모바일 */

@media screen and (max-width:480px) {


  .title {
    display: none;
  }

  .about {
    display: none;
  }

  .description_popup {
    display: none;
  }

  .mobile {
    position: absolute;
    z-index: 20;
    top: 0px; left:0px; right: 0px; bottom: 0px;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 180%;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    justify-content: center;
  }

  .morphing {
    left: 0px; top: 0px; right: 0px; bottom: 0px;
    height: 280px;
    display: flex;
    justify-content: center;
    margin-top: 70%;
  }


  .desires_tab {
    filter: blur(5px);
    flex-direction: column;
    width: 210px;
    height: 640px;
  }

  .tab1, .tab2, .tab3, .tab4 {
    pointer-events: none;
    height: auto;
  }

  .tab2, .tab3, .tab4 {
    width: 180px;
    left: 15px;
  }

  .tab1 {
    width: 150px;
  }

  .tab2 {
    top: 28px;
  }

  .tab3 {
    top: 226px;
  }

  .tab4 {
    top: 424px;
  }

}



  
