/* font & cursor */
* {
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}


/* common */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  perspective: 340px;
  padding: 0;
  text-align: center;
  word-break: keep-all;
  cursor: default;
  width: 100vw;
  position: relative;
}

a {
  color: #fff;
  text-decoration-line: underline;
}

.title {
  position: relative;
 }

#ShowText {
  font-family: swear-display-cilati, serif;
  font-weight: 400;
  font-style: normal;
}

li {
  font-family: swear-display, serif;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  text-align: center;
  text-decoration:none;
}

.lenses {
  position: absolute;
  z-index: 100;
  right: 0px; bottom: 0px;
  margin-bottom: 3%;
  margin-right: -1%;
}

.items {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}




/* PC (데스크탑) */

@media screen and (min-width:1025px) {

.mobile {
    display: none;
}

.title {
  margin-top: 1.2%; margin-left: 2.5%;
}

.title-transition {
  position: absolute;
  top: 0;
  margin-top: 1.2%; margin-left: 2.5%;
  width:149px; height:90px;
  background-image: url(/images/logo_inside_1.png);
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .4s ease-in-out;
}

@keyframes title-change {
  0% {
    background-image: url(/images/logo_inside_1.png);
  }
  35% {
    background-image: url(/images/logo_inside_2.png);
  }
  75%{
    background-image: url(/images/logo_inside_3.png);
  }
  100%{
    background-image: url(/images/logo_inside_1.png);
  }
}

.title-transition:hover {
  opacity: 1;
  animation: title-change 5s infinite;
  animation-direction: alternates;
}

.desire_text {
  position: absolute;
  z-index: 100;
  width: 350px; height: 24px;
  font-size: 1.3rem;
  margin: auto;
  margin-bottom: 3%;
  right: 0; left: 0; top: 0; bottom: 0;
}

.back_lenses {
  position: absolute;
  z-index: 50;
  right: 0; bottom: 0;
  margin-right: 4%;
  margin-bottom: 3%;
  opacity: .5;
}

.back_lenses img {
  width: 180px;
  height: auto; height: 20px;
}

.popup {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 180%;
  position: fixed;
  z-index: 3;
  color: whitesmoke;
  box-sizing: border-box;
}


.popup_inner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#popup1, #popup2{
  top: 38%;
  left: 8%;
  width: 500px;
  height: 705px;
}

.popup_text {
  padding: 30px;
  overflow-y: auto;
}

.draggable {
  position: absolute;
  z-index: 9;
}




@media screen and (max-width:480px) {

.desire_text {
    display: none;
}

.mobile {
    position: absolute;
    z-index: 20;
    top: 0px; left:0px; right: 0px; bottom: 0px;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 180%;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    justify-content: center;
}

}


}