/* * { cursor: url(../images/cursor_d1.cur), auto;} */

  ::selection {
    background: rgba(61, 243, 244, 0.4);
  }

  body {
    background: #000;
  }

  .popup {
    border: 1px solid rgba(61, 243, 244, .3);
    border-radius: 15px;
  }
  
  .popup:hover {
    box-shadow:
    inset 20px 0 50px rgba(61, 243, 244, 0.5), 
    inset -20px 0 50px rgba(61, 243, 244, 0.5),
    0 0 50px rgba(61, 243, 244, 0.5); 
    -webkit-transition: box-shadow .3s ease-in-out;
    -moz-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;    
  }
  
  .popup_header_1 {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    background: linear-gradient(80deg, #3df3f4, #000, #000, #3df3f4);
    border-radius: 10px 10px 0px 0px;
    cursor: move;
  }

  #i1 {
    background: url(/images/exist_sample.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px; height: 300px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    animation: bubble1 20s linear infinite alternate;
  }

  #i1:hover {
    background: url(/images/exist_sample_2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px; height: 300px;
  }
  
  #i2 {
    background: url(/images/back_lenses1.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 500px; right: 150px;
    width: 200px; height: 170px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    animation: bubble2 40s linear infinite alternate;
    animation-delay: .2s;
  }

  #i2:hover {
    background: url(/images/back_lenses2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px; height: 170px;
  }
  
  @keyframes bubble1{
    0% {
      transform: translate();
    }
    100% {
      transform: translate(50%, 350%);
    }
  }
  
  @keyframes bubble2{
    0% {
      transform: translate();
    }
    100% {
      transform: translate(-350%, 145%);
    }
  }


